* {
    font-family: "Roboto", sans-serif;
}

nav {
    transition: 0.3s;
}

section.hero-section .container-fluid .hero-title {
    text-shadow: 2px 2px 2px #000;
    color: #f0f0f0;
}

section.hero-section .container-fluid::after {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100%;
    content: "";
    background-color: rgba(50, 50, 50, 0.8) !important;
    top: 0;
}

section.hero-section .container-fluid {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

section.hero-section .container-fluid * {
    padding: 0;
}

#title-1 {
    font-family: "Bebas Neue";
    font-size: 18vw;
    letter-spacing: 2vw;
    top: 15%;
    line-height: 15vw;
}

#title-2 {
    font-size: 3vw;
    letter-spacing: 1.5vw;
}

hr {
    border-top: 2px solid rgba(0, 0, 0, 1);
}

.text-justify {
    text-align: justify;
}

.pesan-kesan {
    white-space: pre;
    text-wrap: wrap;
    text-align: justify;
}

.gallery img {
    cursor: pointer;
}

blockquote p {
    font-size: 1rem;
}

iframe {
    width: inherit;
    height: 50vh;
}

@media (min-width: 1000px) {
    /* section.about > .row:last-child > .col:first-child {
        opacity: 0;
        transform: translate(-40px, 0);
    }

    section.about > .row:last-child > .col:last-child {
        opacity: 0;
        transform: translate(40px, 0);
    } */

    iframe {
        height: 80vh;
    }
}

/* .gradient-custom {
    background: radial-gradient(
            50% 123.47% at 50% 50%,
            #00ff94 0%,
            #720059 100%
        ),
        linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
        linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
        radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
        radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
} */
/* .carousel-indicators {
    border-radius: 50%;
    width: 10px;
    height: 10px;
} */
