* {
    font-family: "Roboto", sans-serif;
}

nav {
    /* background-color: transparent; */
    transition: 0.3s;
}

section.hero-section .container-fluid .hero-title {
    text-shadow: 2px 2px 2px #000;
    color: #f0f0f0;
}

section.hero-section .container-fluid::after {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100%;
    content: "";
    background-color: rgba(50, 50, 50, 0.5);
    top: 0;
}

section.hero-section .container-fluid {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

section.hero-section .container-fluid * {
    padding: 0;
}

#title-1 {
    font-family: "Bebas Neue";
    font-size: 18vw;
    letter-spacing: 2vw;
    top: 15%;
    line-height: 15vw;
}

#title-2 {
    font-size: 3vw;
    letter-spacing: 1.5vw;
}

hr {
    border-top: 2px solid rgba(0, 0, 0, 1);
}

.text-justify {
    text-align: justify;
}

.carousel-inner::after {
    position: absolute;
    display: block;
    width: 100vw;
    height: 50%;
    content: "";
    background-image: linear-gradient(0, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    bottom: 0;
}

.pesan-kesan {
    white-space: pre;
    text-wrap: wrap;
    text-align: justify;
}

.gallery img {
    cursor: pointer;
}
